<!doctype html>

<script src="https://unpkg.com/rxjs@5.4.3/bundles/Rx.min.js"></script>

<div id="values"></div>

<div>
  <select id="station_selector">
    <option value="AN">AN</option>
    <option value="FL">FL</option>
    <option value="GR">GR</option>
    <option value="J">J</option>
    <option value="N">N</option>
    <option value="PL">PL</option>
    <option value="RC">RC</option>
    <option value="S">S</option>
    <option value="SN">SN</option>
    <option value="SR">SR</option>
    <option selected="selected" value="UP">UP</option>
  </select>
</div>

<script src="/static/js/retrieve_buoy_data.js"></script>

